.fullWidth{
	width: 100%;
}

.pageWidth{
	width:1000px;
	clear: both;
}

.left{
	float: left;
}

.right{
	float: right;
}

.centered{
	text-align: center;
}

.one-third{
	width: 33%;
}
.two-thirds{
	width: 66%;
}
.one-half{
	width: 50%;
}

.auto{
	margin:auto;
}
