/* universal styles */
html, body, ul, li{
    margin: 0;
    padding: 0;
}

/* column styles */
.region div{
	padding: 1%;
}


/* header, logo, menu styles */
#header{
	height: 50px;
	background-color: rgb(166, 166, 166);
}
#title{
	font-size: 1.5em;
	font-weight: bold;
	padding-top: 7px;
}
#headerInner ul{
	list-style-type: none;
}
#headerInner li{
	float: right;
}
#headerInner li a:link, #headerInner li a:visited{
	color: black;
	text-decoration: none;
	display: block;
	width: 120px;
	height: 40px;
	font-size: 1.1em;
	background-color: rgb(48, 94, 137);
	text-align: center;
	padding-top: 10px;
}
#headerInner li a:hover, #headerInner li a:active{
	background-color: rgb(40, 86, 129);
}
#headerInner li a.active{
	background-color: rgb(48, 137, 74);
}

/* tabs styles */
/*.tabs primary
	{
		padding: 2px;
	}
.tabs primary ul
	{
		margin: 0;
		padding: 0;
		text-align: left; /*Set to "right" to right align pagination interface*/
/*		background-color: #a90e5e;
	}
.tabs primary li
	{
		list-style-type: none;
		display: inline;
		padding-bottom: 1px;
	}
.tabs primary a
	{
		padding: 0 5px;
		border: 1px solid #a90e5e;
		text-decoration: none; 
		color: #ffb8e7;
		background-color: #d42781;
	}
.tabs primary a:hover, .tabs a:active
	{
		border: 1px solid #721f94;
		color: #ffb8e7;
		background-color: #a90e5e;
	}

.tabs primary a.currentpage
	{
		background-color: #5a7d9f;
		color: #c48a13;
		border-color: #2e4f6e;
		font-weight: bold;
		cursor: default;
	}
*/

/* footer styles */
.footer{
	position: fixed;
	bottom: 0px;
	height: 20px;
	background-color: black;
	color: white;
}




/* teacher list styles */
.teacher-row .views-field-body{
	float: left;
	width: 78%;
}

.teacher-row .views-field-field-image{
	float: left;
	width: 18%;
	height: auto;
}
